body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.top{
    display: flex;
    flex-direction: column;
    color: white;
    background: #1F2937;
}

.header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin-bottom: 18px;
    
}

img.logo {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    width: 100px;
    border-radius: 100px 
}



.links, ul, li, a {
    list-style: none;
    display: flex;
    color: white;
    text-decoration: none;
    gap: 12px;
    font-size: 20px;
}

.awesome {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    justify-content: center;
    gap: 60px;
    }

.left {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
 }

 .cats {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
 }

 .description {
    font-size: 18px;
    margin-bottom: 10px;
 }

 button.sign {
    width: 100px;
    padding: 8px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border-color: #3882f6;
 }

img.allthree {
    height: auto;
    width: 300px;
    display: flex;
    flex-shrink: 0;
   
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.images {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.one, .two, .three {
    width: 150px;
    height: auto;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.mali, .mimo, .medu {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100PX;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: fit-content;
}


.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 18px;
    text-align: center;
}

.signature{
    font-size: 16px;
    text-align: end;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1;
}

.container2 {
    background-color: #3882f6;
    display: flex;
    margin: 100px;
    padding: 30px;
    gap: 30px;
    border-radius: 12px;


}


.left2 {
    display: flex;
    flex-direction: column;
}

.action {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.click {
    font-size: 14px;
    color: white;
}

.right2 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border-color:white;
    padding: 8px 12px;
    border-radius: 10px;
    flex-shrink: 0;
}
